*{
  margin: 0;
}

.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(218, 219, 211);
}

.app__body {
  background-color: white;
  height: 94vh;
  width: 94vw;
  box-shadow: -1px 7px 30px -6px rgba(0, 0, 0, 0.75);
  flex: 1;
  overflow-y: scroll;
}

.app__body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
